.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    padding: 1.5rem 7%;
}

.header .navbar {
    background-color: rgb(167, 105, 29);
    color: rgb(169, 160, 160);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-width: thick;
    border-style: solid;
    border-color: rgb(146, 117, 91);
    padding-left: 25%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
}

.button {
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn1, .btn2, .btn {
    border: 1px solid rgb(90, 74, 74);
    padding: 5px 20px;
    color: rgb(189, 171, 171);
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}

.BB {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg1A.png');
}

.sectionAccueil {
    margin: auto;
    padding: 22%;
}

.footer, .footer2 {
    text-align: center;
    text-decoration-style: solid;
    background-color: black;
    color: aliceblue;
    height: 15vh;
}

.main_info {
    border: 10px solid;
    width: 30%;
    margin: auto;
    padding: 10%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    margin-top: 150px;
}

.white-mode {
    background-color: white;
    color: black;
}

.menu {
    position: absolute;
    top: 330%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-main, .body-address {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg1B.png');
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.share {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 5px 2px;
}

.fab {
    color: rgb(167, 105, 29);
}

.menu2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover, .btn1:hover, .btn2:hover {
    background-color: rgb(88, 82, 75);
    color: #000;
}

.h22 {
    color: rgb(167, 105, 29);
}

.row {
    margin: auto;
    padding: 10%;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--main-color);
    position: relative;
    border-width: auto;
    border-style: solid;
    width: 70%;
    height: 370px;
    background-color: #000;
}

.adress, .activities {
    border-width: thick;
    border-style: solid;
    width: auto;
    height: auto;
    background-color: rgb(167, 105, 29);
}

.images {
    width: 25rem;
    height: 15rem;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.box-container .box {
    flex: 1 1 30rem;
    padding: 0.5em;
    text-align: center;
    border: var(--border);
    transition: .3s all ease-in-out;
    background-color: #000;
}

.box-container .box img {
    height: 15rem;
}

.box-container .box h3 {
    color: rgb(234, 226, 226);
    font-size: 1.5rem;
}

.founders, .footer1 {
    background-color: #000;
    text-align: center;
    color: white;
}

.auth, .TITRE {
    color: rgb(167, 105, 29);
}

.body-adress {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg.png');
}

@media (max-width: 768px) {
    .BB{
        width: 30%; 
        min-height: 30vh;
        background-size: cover;       
    }
    .header {
        flex-direction: column;
        padding: 1rem 5%;
    }

    .header .navbar {
        padding-left: 0;
        text-align: center;
    }

    .title {
        font-size: 20px;
    }

    .button {
        top: 85%;
        font-size: small;
        display: grid;
    }
    .menuA{
        font-size: small;
        display: grid;
    }
    .menu{
       top: 325%; 
        font-size: small;
        display: grid;
    }
    .menu2{
        top: 36%; 
        background-color: black;
        font-size: small;
        display: flex;
    }

    .main_info {
        width: 90%;
        padding: 5%;
        margin-top: 350px;
    }
    .locA{
        width: 90%;
        padding: 5%;
        margin-top: 350px;
    }
    .row {
        flex-direction: column;
        width: 90%;
        padding: 5%;
    }
}
/* @media only screen and (min-width: 600px) and (max-width:900px){
    .button {
        top: 85%;
        font-size: small;
        display: grid;
    }

    .menu{
       top: 325%; 
        font-size: small;
        display: grid;
    }
    .menu2{
        top: 36%; 
        background-color: black;
        font-size: small;
        display: flex;
    }
}
@media only screen and (min-width: 900px) and (max-width:1200px){
    .button {
        top: 85%;
        font-size: small;
        display: grid;
    }

    .menu{
       top: 325%; 
        font-size: small;
        display: grid;
    }
    .menu2{
        top: 36%; 
        background-color: black;
        font-size: small;
        display: flex;
    }
}
@media only screen and (min-width: 1200px){
    .button {
        top: 85%;
        font-size: small;
        display: grid;
    }

    .menu{
       top: 325%; 
        font-size: small;
        display: grid;
    }
    .menu2{
        top: 36%; 
        background-color: black;
        font-size: small;
        display: flex;
    }
} */